header{
    color: black;
    background-color: rgb(240, 151, 151);
    text-align: center;
    padding: 15px;
    border-radius: 15px;
}

body{
    color: rgb(255, 0, 0);
    background-color: blue;
    background-image: linear-gradient(to right, );
    font-family: sans-serif;
    font-size: 20px;

}

footer{
    text-align: center;
}